html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

#canvas {
  position: absolute; 
  width: 100%;
  height: 600px;
}

.tonecircle {
  position: fixed;
  border-radius: 50%;
  background-color: grey;
  z-index: 1;
}

.tonecircle:hover {
  cursor: pointer !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.osc-btn {
  width: 30%;
}