@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

body {
  user-select: none;
  position: relative;
  min-height: 100%;
  margin-bottom: 60px;
  background-color: #496C89;
  color: lightgrey;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.5em;
}

img {
  pointer-events: none;
}

#header {
  position: fixed;
  left: 5px;
}

#canvas {
  position: fixed;
  width: 100%;
  min-height: calc(100% - 60px);
  z-index: 10;
}

.tonecircle {
  position: fixed;
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255,0);
  background-color: #123552;
  z-index: 10;
}

.tonecircle:hover {
  cursor: pointer !important;
}

.label {
  position: absolute;
  top: 14px;
  left: 9px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.osc-btn {
  height: 60px;
  border: 1px dashed;
  border-left: 0px;
  border-bottom: 0px;
  z-index: 1;
}

#triangle {
  border-right: 0px;
}